body{
    background-color: #7f6264;
}

h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #d5b783;
    background-color: #44332c;
}

.display-area{
    background-color: white;
    width: 400px;
    height: 500px;
    margin: 20px;
}

.control-area{
    /* background-color: red; */
    width: 400px;
    height: 500px;
    margin: 20px;
}

.control-area>form{
    background-color: white;
    padding: 20px;
    height: 100%;
}